{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>

<div class="row">

    <div class="inpatients col-xm-8 col-sm-8 col-md-8 col-lg-8">
        <div class="heading text-center">
            <h3>COUNSELLING SERVICE</h3><br>
            <p>All you need to know about Our Counselling Service</p>
        </div>
        <p>At FreMo Medical and Birth Centre, we have talking therapy which involves a trained therapist listening to you and helping you find ways to deal with emotional issues.</p>
        <h4>We can help you with;</h4>
        <ul>
            <li>Mental health condition, such as depression, anxiety or an eating disorder </li>
            <li>An upsetting physical health condition, such as infertility</li>
            <li>A difficult life event, such as a bereavement, a relationship breakdown or work-related stress</li>
            <li>Difficult emotions – for example, low self-esteem or anger other issues, such as sexual identity</li>
        </ul>
    </div>
</div>
{%endblock%}