{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<!-- <img src="../../static/Images/Yellow-removebg-preview.png" alt="Yellow" class="yellow_triangle" height="100%" width="21%"> -->

<div class="landing_background">
    <h1 class="title mr-5">FreMo Medical and
        <br>Birth Center</h1>
    <div class="container">
        <div class="row mt-5">
            <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8"></div>
            <div class="col-xm-4 col-sm-4 col-md-4 col-lg-4">
                <p>A beautiful Birth Centre that Advocates and facilitates Normal Births. Compassion, Gentleness and Social Justice.</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8"></div>
            <div class="col-xm-4 col-sm-4 col-md-4 col-lg-4">
                <a href="{%url 'Medical'%}"><button class="our_services">Our Services</button></a>
            </div>
        </div>
    </div>
</div>

<div class="mt-5">
    <div class="row">
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
            <center><img src="../../static/Images/UN0241753 (copy).jpeg" alt="HIV" height="50%" width="50%" class="mother-kiss"></center>
            <div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h3>Vision</h3>
                        <hr>
                        <p class="d-block w-100">We envisage a world where each woman is nurtured, heard, and valued and has the information, resources, confidence, and support she requires to achieve the best possible pregnancy, birth, and mothering experience.</p>
                    </div>
                    <div class="carousel-item">
                        <h3>Donate</h3>
                        <p class="d-block w-100">Donate via Paypal birthfire@gmail.com@gmail.com <br>For Australian donations FreMo Fundraising. BSB 034-243 ACCOUNT 285472. <br>Please note we are still working on charily status for "FreMo Australia". <br>Paypal birthfire@gmail.com
                            Worldremitt 254710274860.
                            <b><i>Asante sana.</i></b>
                        </p>
                    </div>
                    <div class="carousel-item">
                        <h3>At FreMo Fraternity;</h3>
                        <p class="d-block w-100">We focus on;
                            <br>Informed Choice; <br>Compassionate Care; <br>Safe Services; <br>Privacy and Confidentiality; </p>
                    </div>
                    <div class="carousel-item">
                        <h3>At FreMo Fraternity;</h3>
                        <p class="d-block w-100">We focus on;<br>Dignity and Comfort; <br>Community Support;</p>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <hr>
            <p>

        </div>
        <div class="col-xm-4 col-sm-4 col-md-4 col-lg-4 ">
            <h6>Upcoming events</h6>
            <table class="table ">
                <th scope="col ">Activity</th>
                <th scope="col ">Date</th>
                <th scope="col ">Time</th>
                <th scope="col ">Venue</th>
            </table>
            <h6>Visiting Hours</h6>
            <table class="table_visit ">
                <tr>
                    <td>Sun - Mon</td>
                    <td>4:30 p.m.–7:00 p.m</td>
                </tr>
                <tr>
                    <td>Mon - Fri</td>
                    <td>4:30 - 5:00 pm</td>
                </tr>
                <tr>
                    <td>Sat - Sun</td>
                    <td> 4:30 - 5:30 pm</td>
                </tr>
            </table>
        </div>

    </div>
    <div class="row care">
        <h4>Families are smiling</h4>
    </div>
    <div class="recent_posts">
        <h3 class="text-center">Recent Posts</h3>

        <div class="row">
            <div class="col-xm-6 col-md-6 col-lg-6 first_post">
                <img src="https://scontent.fnbo10-1.fna.fbcdn.net/v/t39.30808-6/p180x540/271328125_6708894675848449_7698313076142807855_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeHnVWNq0xgsAjoVDfzdVOcS4ySwrXaZiHbjJLCtdpmIdqbXYn_lqBuyGdJnj9sEg2jjdpwuLaKLQwMvqc995zWv&_nc_ohc=D0O2QSx16j4AX8QKObY&_nc_pt=5&_nc_zt=23&_nc_ht=scontent.fnbo10-1.fna&oh=00_AT-9m-DdeYYmD07A7wDReKYRCUaqRQ1SQNXDvut0I53WuA&oe=61D8BA74"
                    alt="Post" height="100%" width="70%">
            </div>
            <div class="col-xm-6 col-md-6 col-lg-6">
                <p>Beautiful photo on the 4th of January 2022. Papa was overwhelmed with excitement and was full of gratitude to hold his newborn baby. Never wanted to let go!. He is been part of the journey providing the all needed and invited support to
                    his wife and their baby. We are motivated and encouraged that this woman centered maternal care that not only invites family and the community support during and around care but also the beyond the care its impact on building this
                    families is remarkable. Congratulations to those who chooses to be part of this empowering experience.</p>
            </div>

        </div>
        <div class="row">
            <div class="col-xm-6 col-md-6 col-lg-6">
                <p>New year blessings. Blessed families. Happy New year to you and your babies. Congratulations.</p>
            </div>
            <div class="col-xm-6 col-md-6 col-lg-6">
                <img src="https://scontent.fnbo9-1.fna.fbcdn.net/v/t39.30808-6/s600x600/271164882_6699358966802020_4167589386895932148_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_eui2=AeGbcVh70C-NPKHvTaA06u2aqvmtzmgeUPWq-a3OaB5Q9UqCXRxSlS_fafOyBYdZSAO-JC2LctoomkwHNeOJGPJP&_nc_ohc=g_3FRQyUW-YAX8Sn869&tn=VDnHSYT3ptOpQZZZ&_nc_pt=5&_nc_zt=23&_nc_ht=scontent.fnbo9-1.fna&oh=00_AT-dTYinIJ-rX4tMFLHDMbe24bI97RRKir3OOFFjLxX_fQ&oe=61D88C26"
                    alt="Post1" height="100%" width="70%">
            </div>
        </div>
    </div>

    {%endblock%}