{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="landing_page">

    <div class="inpatient_services">
        <div class="specialist-header">

        </div>

        <div class="row">

            <div class="inpatients col-xm-8 col-sm-8 col-md-8 col-lg-8">
                <div class="heading text-center">
                    <h3>ADMISSION & DISCHARGE CHECKLIST</h3><br>
                    <p>All you need to know about Our Specialist Clinics</p>
                </div>
                <div class="row">
                    <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
                        <h4>MAJOR SCHEDULED SURGERIES</h4>
                        <p>Overnight admission is required for all major scheduled surgeries.</p>

                        <h4>DAY SURGERY INFORMATION</h4>
                        <p>For day surgery cases, the patients are required to present themselves to the hospital, two hours (2hrs), prior to the time of the planned surgery.</p>

                        <h4>THE ATTENDING CONSULTANT</h4>
                        <p>The attending consultant is required to be on the
                            <strong>pre-approved</strong> panel list of doctors for third-party payers and if not, approval should be sought from the insurance before admission.</p>
                    </div>
                    <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
                        <h4>PAYING IN CASH</h4>
                        <p>For cash paying patients,<strong>full deposit</strong> is payable <strong>before admission</strong> or <strong>on admission.</strong></p>

                        <h4>PAYING THROUGH INSURANCE/EMPLOYER</h4>
                        <p>For payments being done through the insurance or through the employer:- <br>
                            <ul>
                                <li>he hospital shall require a <strong> letter of guarantee </strong> for the payment</li>
                                <li>A duly filled <strong> pre-authorization form</strong> OR,</li>
                                <li>A <strong>letter of undertaking</strong> from the insurance on the day of admission.</li>
                            </ul>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12">
                        <h4>NHIF CONTRIBUTOR</h4>
                        <p>If the patient is an NHIF contributor, please provide the following: <br>
                            <ol>
                                <li>A <strong> valid NHIF card,</strong> with up to date contributions,</li>
                                <li> <strong> Identification documents</strong> that were used in the registration process for the NHIF contributor’s card.</li>
                                <li>If the patient is a dependent (either spouse or children) they <strong> must</strong> be registered with <strong> contributor’s card.</strong></li>
                                <li>If the patient is a spouse and he/she is using the contributor’s card, kindly <strong>confirm what they used to register with the NHIF system;</strong> that is Identification card<strong> (ID), Passport or Alien Certificate.</strong>                                    </li>
                                </li>
                                <li>If the patient is a <strong>dependant</strong> and he/she is <strong>above the age of 21 years,</strong>a <strong>letter from their college</strong> bearing a <strong> reference number</strong> is required.</li>
                            </ol>
                        </p>
                        <h4>DISCHARGE PROCESS</h4>
                        <p>The discharge process is initiated by the treating doctor when he signs a discharge slip which is sent to the discharge. Clients are required to confirm with the front office assistant that all their charges have been posted in
                            the system and also check with their ward sister that all their drugs to take home have been delivered in the ward. <br><br> At this point they can clear with discharges section who issues them with a blue discharge slip. This
                            should be taken to the ward sister. NHIF cards should be presented on admission so that the rates can be calculated during discharge.
                        </p>
                    </div>
                </div>
            </div>
            <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4">
                <h3>EMERGENCY NUMBER</h3>
                <p>Call: +254 710 274 860 or +254 751 395 690</p>
            </div>

        </div>

        {%endblock%}