{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<div class="landing_page">
    <div class="heading">
        <h1>LABORATORY SERVICES</h1>
        <p>-ABOUT LAB.</p>
    </div>

    <div class="laboratory_services">
        <div class="row">
            <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
                <h2>FREMO MEDICAL AND BIRTH CENTRE</h2>
                <p>The laboratory is one of the best equipped, staffed and offering most specialized tests in the region. In the quest for quality services to all our clients, A quality coordinator ensures maintenance of ISO and all quality Assurance programs
                    are up-held. The Laboratory is headed by a Consultant Pathologist/ Manager and each of the sections has a Senior Technologist supervising and a consultant Pathologist reviewing all the results. Before we start testing, daily internal
                    quality controls and calibrations are ran to assure quality of the reports.
                </p>

                <h3>SERVICE OFFERED.</h3>
                <h4>Laboratory tests are investigations that help you get an understanding of the cause of a disease, as well as how to monitor and treat it.</h4>
                <p>We offer all routine laboratory tests, blood donor services, specialized & referral laboratory tests. For all established laboratory tests, we do not refer our patients elsewhere. There are however a few tests that the clients can make
                    a self request; Malaria test, Haemoglobin tests, Blood Grouping, Pregnancy test, HIV blood testing with mandatory counseling, Cholesterol, Prostate Antigen (PSA) test and Blood Sugar test. For all the other tests patients need a doctor
                    who will not only order the test but also interpret the results and recommend treatment. <br><br> Working Hours
                    <ul>
                        <li>Main laboratory 24 hours in operation</li>
                    </ul>

                    <h2>Related Laboratory services:</h2>
                    <h3>Immunizations</h3>
                    <p><strong>We offer a complete vaccine and immunization service, from babies and children to adults.</strong><br><br> <em>Vaccinations can prevent diseases that can be dangerous or even deadly to you and your family.</em> <br><br>They
                        work by reducing the risk of infection by encouraging the body’s natural defences to safely develop immunity to the disease. We offer vaccinations against diphtheria, whooping cough, tetanus, measles, poliomyelitis and tuberculosis.
                    </p>

                    <h3>STI testing and treatment</h3>
                    <p><strong>Sexually transmitted infections (STIs) are infections that can be passed through sexual activity and sometimes during childbirth.</strong> <br><br> When STIs are treated early, you can prevent many of the negative outcomes
                        of STIs, including infertility in both men and women. Testing and treatment is important for sexually active people and for pregnant women.
                        <h4>We won't judge you</h4>
                        <p>You might be feeling embarrassed about coming in to see us, but don't let that stop you seeking help. Our friendly and non-judgemental providers have seen it all before and will put you at ease.</p>
                    </p>

                    <h3>HPV vaccinations</h3>
                    <p><strong>The HPV vaccination helps protect against cancers, including cervical cancer, caused by the human papillomavirus (HPV). It also helps protect against genital warts.</strong><br><br>Almost everyone can have the HPV vaccine,
                        including breastfeeding women. However it is not suitable for pregnant women. <br><br> It is best to get vaccinated before you have sex for the first time, as it means that you are protected before any exposure to HPV. However,
                        you will still benefit from the vaccine if you have already had sex.
                    </p>

                    <h3>Pregnancy testing</h3>
                    <p><strong>A pregnancy test is a quick test that can be used to tell you if you are pregnant.</strong><br><br>If you have had unprotected sex, it’s important you do a test at least 21 days afterwards. If you have missed your period, you
                        should do a test on the first day of your missed period.
                        <br><br> We can provide a high-sensitivity pregnancy test at our service points that will tell you if you are pregnant earlier than a standard pregnancy test you may buy yourself.
                    </p>


                    <h2>TURN AROUND TIME FOR RESULTS.</h2>
                    <p>Laboratory tests have different TAT depending on; Type of test, number of patients carrying out similar test, performance of quality control and doctor’s requirements;
                        <ol>
                            <li>The laboratory technologist/ attendant collecting/ handling your sample will give you the specific TAT. This information is also available in our Laboratory Users’ Guide and in our website.</li>
                            <li>We give priority to emergency tests and urgent tests as indicated by the doctor or patients condition.</li>
                            <li>If our Quality Control (Q/C) shows failure, we have to take corrective action until Q/C passes then we run the tests. We keep our clients informed of these or any other delays.</li>
                        </ol>
                    </p>
            </div>

            <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4 ">
                <h3>EMERGENCY NUMBER</h3>
                <p>Call: +254 710 274 860 or +254 751 395 690</p>
            </div>
            </p>


        </div>

    </div>
    {%endblock%}