{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}

<div class="container services">
    <h4 class="mt-5 text-center">We proudly dedicate ourselves to serve the community with the following services;</h4>
    <div class="row services">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../static/Images/Maternity.jpg" alt="Maternity" height="80%" width="100%">
            <h4 class="text-center">Maternity</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="../../static/Images/UNI325806_0.jpeg" alt="Immunization" height="80%" width="100%">
            <h4 class="text-center">Immunization and vaccination services</h4>
        </div>
    </div>

    <div class="row services">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../static/Images/gpconsultationsmall.jpg" alt="Maternity" height="80%" width="100%">
            <h4 class="text-center">Consultation</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="../../static/Images/Pharmacy.jpg" alt="Immunization" height="80%" width="100%">
            <h4 class="text-center">Phamarcy</h4>
        </div>
    </div>

    <div class="row services">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../static/Images/image-20160622-7185-1vhf1ds.jpg" alt="Maternity" height="80%" width="100%">
            <h4 class="text-center">Laboratory</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="../../static/Images/npatient.jpg" alt="Immunization" height="80%" width="100%">
            <h4 class="text-center">Inpatient</h4>
        </div>
    </div>

    <div class="row services">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../static/Images/Family planning.jpeg" alt="Maternity" height="100%" width="100%">
            <h4 class="text-center">Family planning</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="../../static/Images/HIV.jpeg" alt="Immunization" height="100%" width="100%">
            <h4 class="text-center">HIV testing and treatment</h4>
        </div>
    </div>
</div>
<div class="container container1">
    <div class="row services">
        <div class="col-xm-12 col-sm-12 col-md-6 col-lg-6">
            <img src="../../static/Images/antenatal-care-848x518-1.jpg" alt="Maternity" height="100%" width="100%">
            <h4 class="text-center">Antenatal Care</h4>
        </div>
        <div class="col-md-6 col-lg-6">
            <img src="../../static/Images/Ultrasound.jpg" alt="Immunization" height="100%" width="100%">
            <h4 class="text-center">Ultra Sound</h4>
        </div>
    </div>
</div>
{%endblock%}