{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<div class="landing_page">
    <div class="heading">
        <h1>NUTRITION SERVICES</h1>
        <p>- - -ABOUT NUTRITION- - -</p>
    </div>

    <div class="laboratory_services">
        <div class="row nutrition">
            <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
                <h3>SERVICE OFFERED.</h3>
                <ol>
                    <li>
                        <h3>Inpatient</h3>
                        <p>Nutrition assessment & diagnosis; nutrition counseling & education; planning of therapeutic diets (both Enteral & Parenteral) in respect to the presenting medical or surgical condition.</p>
                    </li>
                    <li>
                        <h3>Outpatients</h3>
                        <ul>
                            <li><strong>Dietary Advisory Clinic -</strong> It is an adult nutrition clinic that offers nutrition services to patients with Diabetes, Renal, Hypertension, cancer, asthma, TB, HIV as well as those who require weight management
                                regimen.
                            </li>
                            <li><strong>Maternal and Child Health Nutrition Clinic -</strong>This component includes a comprehensive scale-up of high-impact nutrition interventions and social and behavior change, as well as support for the implementation
                                of integrated and community-based management of acute malnutrition at community and facility levels, an approach that enables community volunteers to identify and initiate treatment for children with acute malnutrition
                                before they become seriously ill.</li>
                        </ul>
                    </li>
                </ol>

                <p>To book appointments please contact the nutrition department using the contacts below.</p> <br><br>
                <h3>Main Events</h3>
                <ul>
                    <li>Maternal Infant and Young Child Nutrition (MIYCN) Training</li>
                    <li>World breastfeeding week</li>
                    <li>Community Outreaches</li>
                    <li>Team Building</li>
                    <li>Training in Nutrition Management of diseases</li>
                </ul>

            </div>

            <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4 ">
                <h3>EMERGENCY NUMBER</h3>
                <p>Call: +254 710 274 860 or +254 751 395 690</p>
            </div>
        </div>
    </div>
    {%endblock%}