{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div id="body">

    <div class="landing_page">
        <div class="specialist-header">

        </div>
        <div class="heading">
            <h1>OUTPATIENT CENTRE</h1>
            <p>Featured by Department</p>
        </div>
        <div class="outpatient">
            <div class="row">
                <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
                    <h2>ABOUT THE FREMO HOSPITAL OUT-PATIENT CENTRE</h2>
                    <h4 id="sub_head" style="color: tomato;">NOW OPENED: OPERATION HOURS - 24/7</h4>
                    <p>The Fremo Out-patient Centre was opened in the Kawangware outskirts of Nairobi to reach out to the neighboring community, Nairobi residents and an institutions for better medical healthcare. <br> <br> The Hospital anticipates that
                        this clinics will serve to provide easy access to quality healthcare services for our customers and we would like to assure you that the services offered at this centre are of high level.</p>

                    <div class="outpatient_services">
                        <h4 id="sub_head">SERVICES OFFERED AT THE FREMO HOSPITAL</h4>
                        <ol id="ul" class="w3-container w3-animate-top">
                            <li class="fadein">Outpatient Medical & Doctors consultation</li>
                            <li class="fadein">Laboratory Services</li>
                            <li class="fadein">CT-scans and Ultrasounds - including obstetric</li>
                            <li class="fadein">Pharmacy Services and over the counter without prescriptions services</li>
                            <li class="fadein">Accident and Emergency Services</li>
                            <li class="fadein">Curative & Treatment</li>
                            <li class="fadein">Child Welfare clinics</li>
                            <li class="fadein">Counselling Services</li>
                        </ol>
                        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
                            <h4 id="sub_head">CLINICS</h4>
                            <ol id="ul" class="w3-container w3-animate-top">
                                <li class="fadein">Outpatients Surgical Clinic</li>
                                <li class="fadein">Child Welfare Clinic</li>
                                <li class="fadein">Antenatal Clinic</li>
                                <li class="fadein">Nutrtion Clinic</li>
                                <li class="fadein">Medical Checkups and Family Health Clinic</li>
                                <li class="fadein">Counselling Clinic</li>
                                <li class="fadein">Curative & Treatment Clinic</li>
                            </ol>
                        </div>
                        <div class="location">
                            <h4 id="sub_head">LOCATION</h4>
                            <p>Fremo Medical Centre is a Health Centre located in NAIROBI County (DAGORETTI SOUTH Constituency). It is currently Operational.</p>
                        </div>
                    </div>
                </div>
                <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4">
                    <h3>EMERGENCY NUMBER</h3>
                    <p>Call: <br>+254751395690 or +254710274860</p>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}