{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}

<div class="specialist-header">

</div>
<div class="heading">
    <h2>OUTPATIENT CENTRE</h2>
    <h4>-All you need to know about our pharmacy-</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
            <h3>OUT-PATIENT PHARMACY SERVICES</h3>
            <p>At FreMo Medical and Birth Centre, we assured patients and clients of reliable 24/7 pharmacy services. The Hospital procures all medicines and medical supplies only from registered suppliers thereby guaranteeing our patients quality medicines
                at all times, especially in light of the risk of counterfeit and substandard products in the industry.</p>
            <hr>
            <h3>COMPETITIVE PRICES</h3>
            <p>FreMo Medical and Birth Centre offers very competitive prices for our medicines due to the volume discounts, donations from well-wishers and bonuses we negotiate with our suppliers, which is then passed on to the patients.</p>
            <hr>
            <h3>TOXICOLOGY/POISON INFORMATION </h3>
            <p>The pharmacy staff at the Hospital are competent in providing clinicians with poison management information including identification and classification of poisons, Clinical effects of exposure, Treatment – both supportive and use of antidotes
                as well as range of toxicity.</p>
        </div>
        <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4">
            <h3>EMERGENCY NUMBER</h3>
            <p>Call: <br>+254751395690 or +254710274860</p>
        </div>
    </div>
</div>
{%endblock%}