{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<h1 class="s-title">Specialist clinic</h1>
<p class="s-paragraph"><i>All you need to know</i></p>
<div class="outpatient">

    <div class="row">
        <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
            <h2>ABOUT THE FREMO HOSPITAL SPECIALIST CLINICS</h2>
            <h4 id="sub_head" style="color: tomato;">NOW OPENED: OPERATION HOURS - 24/7 </h4>
            <p>The Fremo Specialist Clinics was opened in the Kawangware outskirts of Nairobi to reach out to the neighboring community, Nairobi residents and an institutions for better medical healthcare. <br> <br> The Hospital anticipates that this clinics
                will serve to provide easy access to quality healthcare services for our customers and we would like to assure you that the services offered at this centre are of high level.</p>

            <div class="outpatient_services" id="specialist">
                <h4 id="sub_head">SERVICES OFFERED AT THE FREMO HOSPITAL</h4>

                <ul id="ul">
                    <li class="fadein">Antenatal Care At 2000/=</li>
                    <li class="fadein">Monthly Antenatal Care Follow Up 100</li>
                    <li class="fadein">Weekly Prenatal Care Circles <b>FREE</b></li>
                    <li class="fadein">Maternity Fee at Kshs.6,500</li>
                    <li class="fadein">Pregnancy (OBS) ultrasound</li>
                    <ul>
                        <li class="">Color Dopple studies - Nuchal chord.</li>
                        <li class="">Biophysical profile score (32 weeks - 40 weeks)</li>
                        <li class="">Umbilical cordand mid celebral artery Resistive index(32 weeks - 40 weeks)</li>
                    </ul>
                </ul>

                <div class="location">
                    <h4 id="sub_head">LOCATION</h4>
                    <p>Fremo Medical Centre is a Health Centre located in NAIROBI County (DAGORETTI SOUTH Constituency). It is currently Operational.</p>
                </div>
            </div>
        </div>
        <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4">
            <h3>EMERGENCY NUMBER</h3>
            <p>Call: <br>+254751395690 or +254710274860</p>
        </div>
    </div>

</div>

{%endblock%}