{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<h1 class="s-title">Specialist clinic</h1>
<p class="s-paragraph"><i>All you need to know</i></p>
<div class="specialist-up">

</div>
<div id="specialist">
    <ul id="ul">
        <li class="fade-item">Antenatal Care At 2000/=</li>
        <li class="fade-item">Monthly Antenatal Care Follow Up 100</li>
        <li class="fade-item">Weekly Prenatal Care Circles <b>FREE</b></li>
        <li class="fade-item">Maternity Fee at Kshs.6,500</li>
        <li class="fade-item">Pregnancy (OBS) ultrasound</li>
        <ul>
            <li class="fade-item">Color Dopple studies - Nuchal chord.</li>
            <li class="fade-item">Biophysical profile score (32 weeks - 40 weeks)</li>
            <li class="fade-item">Umbilical cordand mid celebral artery Resistive index(32 weeks - 40 weeks)</li>
        </ul>
    </ul>
</div>{%endblock%}