{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<div class="landing_page">
    <div class="heading">
        <h2>ULTRASOUND SERVICES</h2>
        <p>-ABOUT ULTRASOUND SERVICES-</p>
    </div>
    <div class="ultrasound_services">
        <div class="row">
            <div class="col-xm-8 col-sm-8 col-md-8 col-lg-8">
                <h2>Ultrasound</h2>
                <p>The laboratory is one of the best equipped, staffed and offering most specialized tests in the region. In the quest for quality services to all our clients, A quality coordinator ensures maintenance of ISO and all quality Assurance programs
                    are up-held. The Laboratory is headed by a Consultant Pathologist/ Manager and each of the sections has a Technologist supervising and a consultant Pathologist reviewing all the results. Before we start testing, daily internal quality
                    controls and calibrations are ran to assure quality of the reports.
                </p>

                <h3>SERVICE OFFERED.</h3>
                <h4>Laboratory tests are investigations that help you get an understanding of the cause of a disease, as well as how to monitor and treat it.</h4>
                <p>An ultrasound uses high-frequency sound waves to look at organs and structures inside the body, including the heart, blood vessels, kidneys and liver. Unlike X-rays, ultrasounds do not involve exposure to radiation. Experienced radiologists
                    and technicians at Fremo Medical & Birth centre will provide the highest level of diagnosis and interpretation of ultrasounds. <br><br>The department has acquired the new generation equipment in elastography and provides a wide range
                    of ultrasound examinations including Color Doppler studies, high resolution Breast Scan, Fine Needle Aspiration (FNA) and Drainage procedures under ultrasound guidance. <br><br>Radiologists and Sonographers are available twenty four
                    hours a day for services and appropriate consultation. <br><br>The services include;

                    <ul id="ul">
                        <li id="li"><strong>Abdominal Ultrasound</strong>- a procedure to make accurate diagnoses of possible digestive diseases or an aneurysm in your aorta.</li>
                        <li id="li"><strong>Breast Ultrasound</strong>- a procedure that is typically recommended when your screening mammograms have shown something suspicious, and your physician needs a better look to identify abnormalities, lumps, cysts, etc.</li>
                        <li id="li"><strong>Endoscopic Ultrasound </strong>- a procedure used for the diagnosis of pancreatic tumors and pancreatic cysts. It is also the most accurate technique for detecting very small stones in the gallbladder and common bile duct
                            stones that may be too small to be seen on other imaging studies.</li>
                        <li id="li"><strong>Fetal Ultrasound</strong>- part of routine prenatal care, a procedure typically performed during the second trimester to determine that the fetus is developing correctly.</li>
                        <li id="li"><strong>Intracoronary Ultrasound</strong>- a procedure performed along with cardiac catheterization that uses high-frequency sound waves to look inside your blood vessels for possible coronary artery disease. The sound waves travel
                            through a catheter (hollow tube), which is threaded through an artery and into your heart.</li>
                        <li id="li"><strong>Kidney Ultrasound </strong>- a procedure to determine the size, shape and location of the kidneys and related structures such as the ureters and bladder. It can detect cysts, stones, tumors, abscesses, obstructions, fluid
                            collection and infection within or around the kidneys.</li>
                        <li id="li"><strong>Pelvic Ultrasound</strong>- a procedure to evaluate your pelvic organs and to diagnose conditions such as fibroid tumors or other masses within the pelvis, pelvic inflammatory disease (PID) or postmenopausal bleeding, to
                            name a few. It allows a quick visualization of your pelvic organs and structures including the uterus, cervix, vagina, fallopian tubes and ovaries.</li>
                        <li id="li"><strong>Retroperitoneal Ultrasound</strong>- a procedure to evaluate your kidneys, bladder and aorta (the area behind the digestive organs) to help diagnose back or flank pain or blood in the urine.</li>
                        <li id="li"><strong>Vascular Studies </strong>- a procedure for the evaluation of arteries and veins in the body to detect vascular diseases such as atherosclerosis, aneurysms, blood clots and varicose veins.</li>
                    </ul>
                </p>
            </div>

            <div class="emergency col-xm-4 col-sm-4 col-md-4 col-lg-4 ">
                <h3>EMERGENCY NUMBER</h3>
                <p>Call: +254 710 274 860 or +254 751 395 690</p>
            </div>
            </p>


        </div>

    </div>
    {%endblock%}