{%extends 'base.html'%}{%load bootstrap4%}{%load static%} {%block content%}
<div class="specialist-header">

</div>
<div class="container-fluid container">
    <div class="row volunteer1">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6">
            <h1>What to make a difference?</h1>
            <img src="../../static/Images/Volunteer.png" alt="Volunteer" width="100%">
        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="mycontent-right">
                <h2>Volunteer information</h2>
                <p>The Fremo Birth Centre is set in the slum of Kawangware. It serves the Kawangware community as both a medical clinic and birthplace for about 200 births per year, including the occasional twins or breech birth. It is run by Moffat Osoro
                    (the Leader) and Fred Sigero (the medical director), and their staff of midwives, clinical officers (doctors) and support workers. That makes it sound bigger and fancier than it is but Fremo is in fact, a small, very basically equipped
                    birth centre ( think rough concrete block building and definitely no facilities for ultrasound, c/section, forceps, ventouse, or advanced neonatal resuscitation) with a huge heart and commitment to pursuing the best possible births
                    for the women of this impoverished population..</p>
            </div>
        </div>
    </div>

    <div class="row volunteer">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="mycontent-left">
                <p>Other small health facilities dot the area, some providing birth care. Traditional Birth Attendants work deep in the slums for those women unable or unwilling to seek professional assistance. The Kenyatta Hospital is a major referral centre
                    and is around 15 – 30 minutes away by car, depending on traffic. In most facilities, induction, medication, and surgical birth have become routine. The Fremo Centre is a place of excellence in normal birth being exactly that; normal.</p>
            </div>
        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
        </div>
    </div>

    <div class="row volunteer1">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">

        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="mycontent-right">
                <p>The Fremo Birth Centre is on Naivasha Road, Kawangware*Main branch and new branch at Kabiria road, which is highly polluted with dust, open drains, smoke, and fumes from cars, trucks, and spray-painting (asthmatics beware). Welding and
                    other industry is carried out in the street. Walking the streets is an extreme sport as you dodge matatu (local transport), food vendors, and man-pulled trailers while avoiding ditches as you join the flow of pedestrian traffic. It
                    is expected that you will say “hello” and “how are you” or “habari” to those you meet. They (and you) will reply “mzuri” or “fine”. Handshake is a common greeting.</p>
            </div>

        </div>
    </div>

    <div class="row volunteer">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="mycontent-left">
                <p>The area is known for its high crime rate but if you stick to not going out after dark, you should be safe. While most people are very welcoming it makes sense to always ere on the side of caution. We suggest you do not carry large sums
                    of money or flashy jewellery or cameras. If asked for money (which happens very rarely) just smile and say “no thank-you”. I actually saw more beggars on the streets of Melbourne in one day than I have ever seen here. These folk work
                    very hard for every shilling!</p>
            </div>

        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">


        </div>
    </div>

    <div class="row volunteer1">
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
        </div>
        <div class="col-xm-6 col-sm-6 col-md-6 col-lg-6 ">
            <div class="mycontent-right">
                <p>Please be mindful and while it is so tempting to take photos of everything and everyone you see, it is not always appropriate. It is rare to see another Westerner in Kawangware even though, 5-10 minutes up the road is a bustling shopping
                    centre “Junction” where people from all over the world merge. At Junction you may get that latte you crave at Java, get money from an ATM, and shop for just about anything at Nakumart. Local transport (the famous ‘matatu’) will take
                    you there and back again. Exiting the clinic you will be going right. Wait or walk on the other side of the road and wave down a Number 2 or 102. Tell them “Junction”. Keep your eye open for it on your left (KFC - ugh - or the casino
                    may be seen as well) and bang on the side of the van to exit. A coin works well for this purpose. To return, wait on the opposite side of the road and catch a 2 or 102 back. Watch for landmarks so you know where to exit. Cost will
                    be 10 – 20 shillings each way. Make sure you leave Junction in time to return before dark, allowing for traffic jams. Walking takes about 45 minutes. You may catch other matatu or hire a taxi to venture further. Please inform staff
                    of your whereabouts at all times.
                </p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">VOLUNTEERS ROOMS</h5>
                    <img class="card-img-top" src="../../static/Images/Quaters.jpg" alt="Card image cap">

                    <p class="card-text">The volunteer quarters are simple and near the Kabiria branch across the road. The room consist of the living room, two bedrooms, bathroom with warm showers, toilet and kitchen. Wifi is provided and you can help in recharging with
                        the internet provider.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MEALS</h5>
                    <img class="card-img-top" src="../../static/Images/Meals.jpg" alt="Card image cap">

                    <p class="card-text">Drink and clean your teeth only with bottled water. Food (breakfast and dinner) will be provided in your fees. Local food consists of staples “ugali” a white maize porridgy dough and ‘sukuma wiki’ a spinach dish along side beans, mung-beans,
                        potato, banana, and avocado. You may buy at the local market tomatoes, spinach, sweet potato, pineapple, mandarins, apples, bananas, and avocados. The market is an amazing place; noisy, dusty, and very much alive. Beware motor
                        bikes, cars, trailers where and when you least expect them. (This is not the place you are wanting a compound fracture of the femur!) Vendors will be very keen to have your custom. I have bought many a beautiful shirt from the
                        marketplace! They tend to be very fair in their prices and will accept a polite “no thankyou” of you do not wish buy.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row orientation">
        <div class="col-xm-12 col-sm-12 col-md-12 col-lg-12 ">
            <h2 class="">ORIENTATION</h2>
            <p>You should be given a thorough orientation when you arrive, including day to day living, work expectations, introductions, phone numbers, internet, transport, and shopping. You will be expected to do your own washing (by hand) and pitch in
                with washing the dishes, making your bed, sweeping etc. If you don’t do it someone else will feel obligated to do so.
                <br><br><b>Staff should never ask you for financial assistance. “I am here to work for the clinic and thus the community. I cannot give financial assistance to individuals.” Is an appropriate reply and the incident must be reported. If
                you feel that you would like to support a particular person you MUST talk this through with Moffat before proceeding. Please be mindful in keeping all relationships with staff on a purely professional basis.</b><br><br> Students will be
                allocated a mentor who will be responsible for their educational experiences. The mentor will teach, supervise practice, and set assignments. If you need information or assistance please do ask. Any problems are to be reported to Moffat
                immediately.
            </p>
        </div>
    </div>

</div>
{%endblock%}