{% load bootstrap4 %} {% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block styles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/style.css'%}"> {%endblock%}
</head>

<body>
    {%block content%}
    <div class="animated-heading sliding">
        <p class="pl-5 txt1">fremocentre@gmail.com | Donate via Paypal birthfire@gmail.com | +254710274860/+254751395690</p>
    </div>
    <nav class="navbar navbar-expand-lg navbar-header topnav" id="myTopnav">
        <a class="navbar-brand hover" href="{%url 'Home'%}" id="title"> <img src="../static/Images/logo-removebg-preview.png" alt="Logo" width="40px">
            <p class="p">FreMo Medical and Birth Centre</p>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a id="phone" href="tel:+254710 274860"><img src="https://img.icons8.com/ios-filled/25/000000/phone-disconnected.png" />
            <p class="hover">+254710 274 860</p>
        </a>
        <div class="container-fluid navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item active">
                    <a class="nav-link hover" href="{%url 'Home'%}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link hover" href="{%url 'aboutus'%}">About Us <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item hover" href="{%url 'specialist'%}">Specialist Clinics</a>
                        <a class="dropdown-item hover" href="{%url 'outpatient'%}">Outpatient Services</a>
                        <a class="dropdown-item hover" href="{%url 'inpatient'%}">Inpatient Services</a>
                        <a class="dropdown-item hover" href="{%url 'laboratory'%}">Laboratory Services</a>
                        <a class="dropdown-item hover" href="{%url 'pharmacy'%}">Pharmacy</a>
                        <a class="dropdown-item hover" href="{%url 'ultrasound'%}">Ultra-Sound Services</a>
                        <a class="dropdown-item hover" href="{%url 'nutrition'%}">Nutrition Services</a>
                        <a class="dropdown-item hover" href="{%url 'counselling'%}">Counselling Services</a>
                    </div>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

    Payments              </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item hover" href="{%url 'pay'%}">Make Payments</a>
                        <a class="dropdown-item hover" href="{%url 'donate'%}">Make Donation</a>
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="nav-link hover" href="{%url 'contact_us'%}">Book appointment<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link hover" href="{%url 'school'%}">FreMo School<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>{%endblock%}
</body>
{%block script%}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'js/script.js' %}"></script>
{%endblock%}

</html>